{% extends "main/base.html" %}

{% block title %}APIConnect - Faça uma pergunta{% endblock %}

{% block content %}
<h2 class="text-center mt-5 mb-5 text-success">Yes or No API ❓</h2>

<div class="container-sm">

    <h3 class="text-left h3">O que essa página faz?</h3>
    <p class="mb-4">
        Aqui você digita uma pergunta no campo de texto e, ao enviar, recebe uma resposta que pode ser <b>Sim</b>, <b>Não</b> ou <b>Talvez</b>, junto com um gif que combina com a resposta.
    </p>

    <h3 class="text-left h3">Como esta página faz isso?</h3>
    <p class="mb-5">
        Esta página utiliza a <strong>API</strong> do <a href="https://yesno.wtf/" target="_blank">Yes or No</a> para funcionar. Você manda a pergunta e recebe uma resposta com gif na lata.
    </p>

    <h3 class="text-center">Faça sua pergunta:</h3>

    <div class="container-sm d-block mb-4 text-center">
        <form action="" method="post">
            {% csrf_token %}
            <input class="form-control mb-3" type="text" name="make_question" placeholder="Faça sua pergunta." required>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>

    <div class="container-sm d-block mb-4 text-center">
        {% if answer %}
            <h3 class="mb-2">{{ question }}</h3>
            <h2 class="text-success mb-3">{{ answer }}</h2>
            <img src="{{ answer_image }}" alt="Imagem da resposta" class="img-fluid rounded shadow">
        {% endif %}
    </div>

</div>
{% endblock %}
